h1 {
    background-color: ;
}

body {
    font-family: Helvetica;
}

.love{
    background-color: yellow;
}

.inspiration{
    background-color: orange;
}

.self{
    background-color: skyblue;
}

.ego{
    background-color: red;
}

.home{
    background-color: green;
}

.earth{
    background-color: brown;
}
