h1 {
    background-color: #3b923e;
}

body {
    font-family: Helvetica;
    font-size: 200%;
}

.love{
    background-color: #ccbf00;
}

.inspiration{
    background-color: #f5bd1f;
}

.self{
    background-color: #26a5cb;
}

.ego{
    background-color: #cc0033;
}

.home{
    background-color: #2f7532;
}

.earth{
    background-color: #3f000f;
}
